@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "All roles";
}

<h1>All roles</h1>

@if (Model.Any())
{
    <a class="btn btn-succes" asp-controller="Administration" asp-action="CreateRole">
        Create Role
    </a>

    foreach (var role in Model)
    {
        <div class="card bm-3">
            <div class="card-header">
                Role Id: @role.Id
            </div>

            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>

            <div class="card-footer">
                <a class="btn btn-succes" asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id">Edit</a>
                <a asp-action="Delete" asp-controller="Administration" asp-route-id="@role.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-succes" asp-controller="Administration" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}